.card-image {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  
    .icon {
      font-size: 80px;
      color: #ff5a5f;
    }
  }
  
  h2 {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
  }
  
  p {
    text-align: center;
    color: gray;
  }
  
  .add-card-button {
    margin-top: 20px;
    background-color: #56cc9d;
  }
  