  <ion-card>
    <ion-card-content>
        <img alt="card img" src="../../../assets/img/yellow_foods.jpg" />
      <div class="label">
          <p class="header">Whole foods for your Health</p>
          <p>A diverse, colorful diet is a healthy diet.</p>
          <div class="justify">
            <button shape="round" ><p class="p">Add to Cart</p></button>
            <p class="p" style="margin-right:0.5rem; color:rgb(224, 118, 118); ">9.99$</p>
          </div>
      </div>
    </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
          <img alt="card img" src="../../../assets/img/yellow_foods.jpg" />
        <div class="label">
            <p class="header">Whole foods for your Health</p>
            <p>A diverse, colorful diet is a healthy diet.</p>
            <div class="justify">
              <button shape="round" ><p class="p">Add to Cart</p></button>
              <p class="p" style="margin-right:0.5rem; color:rgb(224, 118, 118); ">9.99$</p>
            </div>
        </div>
      </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-content>
            <img alt="card img" src="../../../assets/img/yellow_foods.jpg" />
          <div class="label">
              <p class="header">Whole foods for your Health</p>
              <p>A diverse, colorful diet is a healthy diet.</p>
              <div class="justify">
                <button shape="round" ><p class="p">Add to Cart</p></button>
                <p class="p" style="margin-right:0.5rem; color:rgb(224, 118, 118); ">9.99$</p>
              </div>
          </div>
        </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-content>
              <img alt="card img" src="../../../assets/img/yellow_foods.jpg" />
            <div class="label">
                <p class="header">Whole foods for your Health</p>
                <p>A diverse, colorful diet is a healthy diet.</p>
                <div class="justify">
                  <button shape="round" ><p class="p">Add to Cart</p></button>
                  <p class="p" style="margin-right:0.5rem; color:rgb(224, 118, 118); ">9.99$</p>
                </div>
            </div>
          </ion-card-content>
          </ion-card>

          <ion-card>
            <ion-card-content>
                <img alt="card img" src="../../../assets/img/yellow_foods.jpg" />
              <div class="label">
                  <p class="header">Whole foods for your Health</p>
                  <p>A diverse, colorful diet is a healthy diet.</p>
                  <div class="justify">
                    <button shape="round" ><p class="p">Add to Cart</p></button>
                    <p class="p" style="margin-right:0.5rem; color:rgb(224, 118, 118); ">9.99$</p>
                  </div>
              </div>
            </ion-card-content>
            </ion-card>

            <ion-card>
              <ion-card-content>
                  <img alt="card img" src="../../../assets/img/yellow_foods.jpg" />
                <div class="label">
                    <p class="header">Whole foods for your Health</p>
                    <p>A diverse, colorful diet is a healthy diet.</p>
                    <div class="justify">
                      <button shape="round" ><p class="p">Add to Cart</p></button>
                      <p class="p" style="margin-right:0.5rem; color:rgb(224, 118, 118); ">9.99$</p>
                    </div>
                </div>
              </ion-card-content>
              </ion-card>

              <ion-card>
                <ion-card-content>
                    <img alt="card img" src="../../../assets/img/yellow_foods.jpg" />
                  <div class="label">
                      <p class="header">Whole foods for your Health</p>
                      <p>A diverse, colorful diet is a healthy diet.</p>
                      <div class="justify">
                        <button shape="round" ><p class="p">Add to Cart</p></button>
                        <p class="p" style="margin-right:0.5rem; color:rgb(224, 118, 118); ">9.99$</p>
                      </div>
                  </div>
                </ion-card-content>
                </ion-card>




