<div class="container" >
<ion-segment [scrollable]="true" value="all">
  <ion-segment-button value="all">
    <ion-card>
      <img alt="Yellow foods" src="../../../assets/img/yellow_foods.jpg" />
      <ion-card-header>
        <ion-card-title>Whole foods for your Health</ion-card-title>
        <ion-card-subtitle>A diverse, colorful diet is a healthy diet.</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <div>
        <ion-icon name="star" color="warning"></ion-icon>
        <ion-icon name="star" color="warning"></ion-icon>
        <ion-icon name="star" color="warning"></ion-icon>
        <ion-icon name="star" color="warning"></ion-icon>
        <ion-icon name="star" color="warning"></ion-icon>
        </div>
        <ion-button shape="round" >Add to Cart</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-segment-button>
  <ion-segment-button value="healthy">
    <ion-card>
      <img alt="Yellow foods" src="../../../assets/img/yellow_foods.jpg" />
      <ion-card-header>
        <ion-card-title>Whole foods for your Health</ion-card-title>
        <ion-card-subtitle>A diverse, colorful diet is a healthy diet.</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <div>
        <ion-icon name="star" color="warning"></ion-icon>
        <ion-icon name="star" color="warning"></ion-icon>
        <ion-icon name="star" color="warning"></ion-icon>
        <ion-icon name="star" color="warning"></ion-icon>
        <ion-icon name="star" color="warning"></ion-icon>
        </div>
        <ion-button shape="round" >Add to Cart</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-segment-button>
  <ion-segment-button value="fast">
    <ion-card>
      <img alt="Yellow foods" src="../../../assets/img/yellow_foods.jpg" />
      <ion-card-header>
        <ion-card-title>Whole foods for your Health</ion-card-title>
        <ion-card-subtitle>A diverse, colorful diet is a healthy diet.</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <div>
        <ion-icon name="star" color="warning"></ion-icon>
        <ion-icon name="star" color="warning"></ion-icon>
        <ion-icon name="star" color="warning"></ion-icon>
        <ion-icon name="star" color="warning"></ion-icon>
        <ion-icon name="star" color="warning"></ion-icon>
        </div>
        <ion-button shape="round" >Add to Cart</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-segment-button>
  <ion-segment-button value="sweet">
    <ion-card>
      <img alt="Yellow foods" src="../../../assets/img/yellow_foods.jpg" />
      <ion-card-header>
        <ion-card-title>Whole foods for your Health</ion-card-title>
        <ion-card-subtitle>A diverse, colorful diet is a healthy diet.</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <div>
        <ion-icon name="star" color="warning"></ion-icon>
        <ion-icon name="star" color="warning"></ion-icon>
        <ion-icon name="star" color="warning"></ion-icon>
        <ion-icon name="star" color="warning"></ion-icon>
        <ion-icon name="star" color="warning"></ion-icon>
        </div>
        <ion-button shape="round" >Add to Cart</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-segment-button>
  <ion-segment-button value="savory">
    <ion-card>
      <img alt="Yellow foods" src="../../../assets/img/yellow_foods.jpg" />
      <ion-card-header>
        <ion-card-title>Whole foods for your Health</ion-card-title>
        <ion-card-subtitle>A diverse, colorful diet is a healthy diet.</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <div>
        <ion-icon name="star" color="warning"></ion-icon>
        <ion-icon name="star" color="warning"></ion-icon>
        <ion-icon name="star" color="warning"></ion-icon>
        <ion-icon name="star" color="warning"></ion-icon>
        <ion-icon name="star" color="warning"></ion-icon>
        </div>
        <ion-button shape="round" >Add to Cart</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-segment-button>
  
</ion-segment>
</div>


