.signup-page {
  --background: url('/assets/background.jpg'); /* Optional background image */
  --background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.toolbar{
  background-color:#f4c8eb;
}
.signup-container {
  background: #f4c8eb;
  border-radius: 12px;
  padding: 20px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-item {
  margin-bottom: 20px;
}

ion-label {
  font-weight: bold;
}

.signup-btn {
  background-color: #75025c; /* Your custom color */
  color: white;  /* Text color */
  font-weight: bold;
  margin-top: 20px;
  border-radius: 8px; /* Optional: To give the button rounded corners */
 
}

.signup-btn:hover {
  background-color: #3171e2; /* Change color when hovering */
}

.login-link {
  text-align: center;
  font-size: 14px;
  color: #75025c;
  cursor: pointer;
  margin-top: 10px;
}

.login-link:hover {
  text-decoration: underline;
}