.custom-background {
  --background: #f49fe2; /* Background color similar to the image */
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%; /* Center the logo vertically */
}

h1 {
  font-size: 2.5rem;
  color: #ffffff; /* Text color for "Coindora" */
  font-weight: bold;
}

.bottom-content {
  text-align: center;
  padding: 20px;
}

.login-text {
  margin-top: 10px;
  color: #75025c; 
  font-size: 0.9rem;
}

.login-text a {
  color: #75025c;
  text-decoration: underline;
}
